<div id="footer" class="center">
    <div id="footer-menu">
        <table>
            <tbody>
                <tr>
                    <th>AboutSpree</th>
                    <th>What's New</th>
                    <th>Follow Us</th>
                    <th>More of Spree</th>
                </tr>
                <tr>
                    <td>
                        <ol>
                            <li>Vision</li>
                            <li>Team</li>
                            <li>Careers</li>
                            <li>Contact Us</li>
                            <li>Security</li>
                            <li>Privacy Policy</li>
                            <li>Terms of Use</li>
                        </ol>
                    </td>
                    <td>
                        <ol>
                            <li>Hot Trends</li>
                            <li>Unique Finds</li>
                            <li>Work Outfit</li>
                            <li>Back to School</li>
                            <li>Party Time</li>
                            <li>Winter Time</li>
                            <li>Sporty Style</li>
                        </ol>
                    </td>
                    <td>
                        <ol>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                        </ol>
                    </td>
                    <td>
                        <ol>
                            <li>Mobile and app</li>
                            <li>Contact</li>
                            <li>Info@shopspree.co</li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
